* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.bloc-container {
  display: flex;
  height: 100%;
  padding: 50px 0;
  border: 1px solid black;
}

.blocs {
  width: 200px;
  height: 200px;
}

.bg-peru {
  background-color: peru;
}

.bg-turquoise {
  background-color: paleturquoise;
}

.bg-violetred {
  background-color: palevioletred;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}
