* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.bloc-container {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  border: 1px solid black;
  height: 200px;
}

  .blocs {
    width: 100px;
    height: 100px;
}

.bg-peru {
  background-color: peru;
}

.bg-turquoise {
  background-color: paleturquoise;
}

.bg-violetred {
  background-color: palevioletred;
}
